<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-std-four-io-dashboard></app-std-four-io-dashboard>
            <hr class="bg-danger">
            <app-todo-four-io-dashboard></app-todo-four-io-dashboard>
            <hr class="bg-danger">
            <app-std-five-io-dashboard></app-std-five-io-dashboard>
            <hr class="bg-danger">
            <app-todo-five-io-dashboard></app-todo-five-io-dashboard>
            <hr class="bg-danger">
            <app-std-six-io-dashboard></app-std-six-io-dashboard>
            <hr class="bg-danger">
            <app-todo-six-io-dashboard></app-todo-six-io-dashboard>
        </div>
    </div>
</div>