<div class="row">
    <div class="col-md-6 offset-md-3">
        <app-std-six-io-form
        (emitnewobj)="getnewobj($event)"
        [EditObj]="editobj"
        (emitupdateobj)="getupdateobj($event)"
        ></app-std-six-io-form>
    </div>
</div>
<hr class="bg-primary">
<div class="row">
    <div class="col-md-12">
        <app-std-six-io-table
        [getstdinfo]="stdarr"
        (emiteditobj)="geteditobj($event)"
        (emitdeleteobj)="getdeleteobj($event)"
        ></app-std-six-io-table>
    </div>
</div>
